<h1><%= @restaurant.name %></h1>

<h3><%= @restaurant.category.capitalize %> style</h3>

<p><%= @restaurant.address %> | <%= @restaurant.phone_number %></p>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<hr>

<%= link_to restaurants_path do %>
  <i class="fas fa-arrow-left"></i> Back to restaurant list
<% end %>
